POSTGRES_DB=app_foundation
POSTGRES_USER=app_foundation
POSTGRES_PASSWORD=app_foundation

APP_DATASOURCE_URL=jdbc:postgresql://localhost:5432/app_foundation
APP_DATASOURCE_USERNAME=app_foundation
APP_DATASOURCE_PASSWORD=app_foundation

APP_AUTH_JWT_SECRET=replace-with-at-least-32-random-local-characters
APP_AUTH_ACCESS_TOKEN_TTL=PT15M
APP_AUTH_REFRESH_FAMILY_TTL=P7D
APP_AUTH_LOCAL_BOOTSTRAP_ENABLED=false
APP_AUTH_LOCAL_BOOTSTRAP_EMAIL=local.user@example.com
APP_AUTH_LOCAL_BOOTSTRAP_PASSWORD=replace-with-a-local-password
APP_AUTH_LOCAL_BOOTSTRAP_ROLES=USER
