/.env
/.idea/
/.vscode/
*.iml

.DS_Store
Thumbs.db

node_modules/
npm-debug.log*
yarn-error.log*

frontend/.angular/
frontend/dist/
frontend/coverage/
frontend/out-tsc/
frontend/tmp/
frontend/.vscode/
frontend/__screenshots__/

backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/HELP.md
backend/src/test/resources/ai-001/local/

*.log
